<footer>
    <div class="footer-container">
        <div class="page__footer">
            <p class="copyright footer-text">&copy; 2020 | All Rights Reserved |&nbsp;</p>
            <div class="developers">
                <p class="footer-text">Developed with</p>
                <span class="footer-icon"><svg class="heart-icon" data-about-scream-modal-open>
                        <use href="./images/sprite.svg#icon-heart"></use>
                    </svg></span>
                <p class="team-modal footer-text" data-about-scream-modal-open>by GoIT Students</p>
            </div>
        </div>
    </div>
</footer>