<header class="header" id="header">
  <div class="container">
    <div class="header__wrapper">
      <nav class="header__navigation">
        <a href="./" class="logo">
          <svg class="logo__icon">
            <use href="./images/sprite.svg#icon-logo"></use>
          </svg>
          <span class="logo__title">Filmoteka</span></a
        >
        <ul class="header__list">
          <li>
            <a href="./" class="header__link header__link--current">Home</a>
          </li>
          <li class="header__item js-header-library logging--is-hiden">
            <a href="./library.html" class="header__link">My library</a>
          </li>
        </ul>
      </nav>
      <div class="btn-container">
        <button
          type="button"
          class="header__button header__button--login js-login-btn logging--is-hiden"
        >
          Log in
        </button>
        <button
          type="button"
          class="header__button header__button--login js-logout-btn logging--is-hiden"
        >
          Log out
        </button>
      </div>
    </div>
    <form class="header__form js-search-form">
      <input
        type="text"
        placeholder="Movie search"
        class="header__input"
        name="query"
      />
      <button type="submit" class="header__submit-button" aria-label="search">
        <svg class="header__icon">
          <use href="./images/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <p class="header__text"></p>
  </div>
</header>
