<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <nav class="header__navigation">
        <a href="/" class="logo">
          <svg class="logo__icon">
            <use href="./images/sprite.svg#icon-logo"></use>
          </svg>
          <span class="logo__title">Filmoteka</span></a
        >
        <ul class="header__list">
          <li>
            <a href="/" class="header__link header__link--current">Home</a>
          </li>
          <li>
            <a
              href="./library.html"
              class="header__link js-header-library logging--is-hiden"
              >My library</a
            >
          </li>
        </ul>
      </nav>
      <button
        type="button"
        class="header__button header__button--login js-login-btn logging--is-hiden"
      >
        Log in
      </button>
    </div>
    <form class="header__form js-search-form">
      <input
        type="text"
        placeholder="Movie search"
        class="header__input"
        name="query"
      />
      <button type="submit" class="header__submit-button">
        <svg class="header__icon">
          <use href="./images/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <p class="header__text">
      Search result not successful. Enter the correct movie name and try again.
    </p>
  </div>
</header>
