<header class="header header--library">
  <div class="container">
    <div class="header__wrapper">
      <nav class="header__navigation">
        <a href="/" class="logo">
          <!-- <svg class="logo__icon">
            <use href="./images/sprite.svg#icon-film"></use></svg
          > -->
          <span class="logo__title">Filmoteka</span></a
        >
        <ul class="header__list">
          <li><a href="/" class="header__link">Home</a></li>
          <li>
            <a href="/library" class="header__link header__link--current"
              >My library</a
            >
          </li>
        </ul>
      </nav>
      <button
        type="button"
        class="header__button header__button--login js-login-btn"
      >
        Log in
      </button>
    </div>
    <ul class="header__list header__list--buttons">
      <li><button type="button" class="header__button">Watched</button></li>
      <li>
        <button type="button" class="header__button header__button--queue">
          Queue
        </button>
      </li>
    </ul>
  </div>
</header>
