<div class="backdrop-login logging--is-hiden">
  <div class="login-modal">
    <div
      class="firebaseui-auth-container logging--is-hiden"
      id="firebaseui-auth-container"
    ></div>

    <div class="login-modal__content">
      <h2 class="login-modal__title">Login with</h2>
      <div class="login-modal-container">
        <button type="button" class="login-modal__email">email</button>
        <p>or</p>
        <button type="button" class="login-modal__google">google</button>
      </div>
    </div>
  </div>
</div>

<!-- is-hidden -->
