<div class="backdrop js-backdrop">
  <div class="modal-window">
    <button type="button" class="btn-modal" data-modal-close>
      <svg class="modal-close-icon" width="14px" height="14px">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="cinema-img">This photo</div>
    <div class="cinema-info">
      <h1 class="cinema-info_item">A FISTFUL OF LEAD</h1>
      <div class="cinema-info__list">
        <div class="cinema-attribute">
          <p class="cinema-atrtribute_item">Vote / Votes</p>
          <p class="cinema-atrtribute_item">Popularity</p>
          <p class="cinema-atrtribute_item">Original Title</p>
          <p class="cinema-atrtribute_item">Genre</p>
        </div>
        <div class="cinema-attrebute_value">
          <p class="cinema-attrebute_value__item">7.3 / 1260</p>
          <p class="cinema-attrebute_value__item">100.2</p>
          <p class="cinema-attrebute_value__item">A FISTFUL OF LEAD</p>
          <p class="cinema-attrebute_value__item">Western</p>
        </div>
      </div>
      <div class="cinema-about">
        <h2 class="cinema-about_item">About</h2>
        <p class="cinema-about_description">
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how?
        </p>
      </div>
      <button type="button" class="btn-modal-cinema js-modal-watched">
        ADD TO WATCHED
      </button>
      <button type="button" class="btn-modal-cinema js-modal-queue">
        ADD TO QUEUE
      </button>
    </div>
  </div>
</div>
