<div class="backdrop--team is-hidden--team" data-about-scream-modal>
  <div class="modal--team">
    <button
      type="button"
      class="button__modal-close--team"
      data-about-scream-modal-close
    >
      <img
        src="./images/close-sign.png"
        alt="close"
        class="button__close-icon--team"
      />
    </button>
    <h1 class="modal__title--team modal__title--scream">
      I-scream dream team
    </h1>
    <!-- Team leads -->
    <ul class="team-list ">
      <li class = "member-card">
        <h3 class="member-card__role">Scrum master</h3>
        <img src="./images/team/team2.jpg" alt="Anton" class="member-card__photo">
        <h2 class="member-card__name">Anton</h2>
        
        <ul class="social-networks__list">
         <li class="social-networks__item">
            <a
              href="https://telegram.me/AntonShchetynin"
              aria-label="Telegram link"
              target="_blank"
              referrerpolicy="no-referrer"
              class="social-networks__link"
            >
              <svg class="social-networks__icon social-networks__icon--telegram">
                <use href="./images/sprite.svg#icon-tg"></use>
              </svg>
            </a>
          </li>
          <li class="social-networks__item">
            <a
              href="https://www.facebook.com/"
              aria-label="Facebook link"
              target="_blank"
              referrerpolicy="no-referrer"
              class="social-networks__link"
            >
              <svg class="social-networks__icon">
                <use href="./images/sprite.svg#icon-fb"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class = "member-card">
        <h3 class="member-card__role">Team lead</h3>
        <img src="./images/team/team1.jpg" alt="Vira" class="member-card__photo">
        <h2 class="member-card__name">Vira</h2>
        <ul class="social-networks__list">
          <li class="social-networks__item">
             <a
               href="https://telegram.me/#####"
               aria-label="Telegram link"
               target="_blank"
               referrerpolicy="no-referrer"
               class="social-networks__link"
             >
               <svg class="social-networks__icon social-networks__icon--telegram">
                 <use href="./images/sprite.svg#icon-tg"></use>
               </svg>
             </a>
           </li>
           <li class="social-networks__item">
             <a
               href="https://www.facebook.com/"
               aria-label="Facebook link"
               target="_blank"
               referrerpolicy="no-referrer"
               class="social-networks__link"
             >
               <svg class="social-networks__icon">
                 <use href="./images/sprite.svg#icon-fb"></use>
               </svg>
             </a>
           </li>
         </ul>
      </li>
      
    </ul>
    <!-- Checkbox  -->
    <div class="custom-checkbox">
      <label class="checkbox-container  ">
        <input
          type="checkbox"
          name="G"
          class="checkbox-container__checkbox visually-hidden"
        />
        <p class="checkbox-container__text">G</p>
      </label>
      <label class="checkbox-container ">
        <input
          type="checkbox"
          name="O"
          class="checkbox-container__checkbox visually-hidden"
          checked
        />
        <p class="checkbox-container__text">O</p>
      </label>
      <label class="checkbox-container ">
        <input
          type="checkbox"
          name="I"
          class="checkbox-container__checkbox visually-hidden"
          checked
        />
        <p class="checkbox-container__text">I</p>
      </label>
      <label class="checkbox-container ">
        <input type="checkbox" name="T" class="checkbox-container__checkbox visually-hidden" />
        <p class="checkbox-container__text">T</p>
      </label>
    </div>
   <!-- Rest of the team -->
   <ul class="team-list team-list--leads">
    <li class = "member-card">
      <img src="./images/team/team3.jpg" alt="Mykola" class="member-card__photo">
      <h2 class="member-card__name">Mykola</h2>
      
      <ul class="social-networks__list">
       <li class="social-networks__item">
          <a
            href="https://telegram.me/prybula"
            aria-label="Telegram link"
            target="_blank"
            referrerpolicy="no-referrer"
            class="social-networks__link"
          >
            <svg class="social-networks__icon social-networks__icon--telegram">
              <use href="./images/sprite.svg#icon-tg"></use>
            </svg>
          </a>
        </li>
        <li class="social-networks__item">
          <a
            href="https://www.facebook.com/"
            aria-label="Facebook link"
            target="_blank"
            referrerpolicy="no-referrer"
            class="social-networks__link"
          >
            <svg class="social-networks__icon">
              <use href="./images/sprite.svg#icon-fb"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>
    <li class = "member-card">
      <img src="./images/team/team4.jpg" alt="Andriy" class="member-card__photo">
      <h2 class="member-card__name">Andriy</h2>
      <ul class="social-networks__list">
        <li class="social-networks__item">
           <a
             href="https://telegram.me/mar_murchikk"
             aria-label="Telegram link"
             target="_blank"
             referrerpolicy="no-referrer"
             class="social-networks__link"
           >
             <svg class="social-networks__icon social-networks__icon--telegram">
               <use href="./images/sprite.svg#icon-tg"></use>
             </svg>
           </a>
         </li>
         <li class="social-networks__item">
           <a
             href="https://www.facebook.com/"
             aria-label="Facebook link"
             target="_blank"
             referrerpolicy="no-referrer"
             class="social-networks__link"
           >
             <svg class="social-networks__icon">
               <use href="./images/sprite.svg#icon-fb"></use>
             </svg>
           </a>
         </li>
       </ul>
    </li>
    <li class = "member-card">
      <img src="./images/team/team5.jpg" alt="Anton" class="member-card__photo">
      <h2 class="member-card__name">Anton</h2>
      <ul class="social-networks__list">
        <li class="social-networks__item">
           <a
             href="https://telegram.me/AntonKyryliuk"
             aria-label="Telegram link"
             target="_blank"
             referrerpolicy="no-referrer"
             class="social-networks__link"
           >
             <svg class="social-networks__icon social-networks__icon--telegram">
               <use href="./images/sprite.svg#icon-tg"></use>
             </svg>
           </a>
         </li>
         <li class="social-networks__item">
           <a
             href="https://www.facebook.com/"
             aria-label="Facebook link"
             target="_blank"
             referrerpolicy="no-referrer"
             class="social-networks__link"
           >
             <svg class="social-networks__icon">
               <use href="./images/sprite.svg#icon-fb"></use>
             </svg>
           </a>
         </li>
       </ul>
    </li>
    <li class = "member-card">
      <img src="./images/team/team6.jpg" alt="Oleksii" class="member-card__photo">
      <h2 class="member-card__name">Oleksii</h2>
      <ul class="social-networks__list">
        <li class="social-networks__item">
           <a
             href="https://telegram.me/pivniev"
             aria-label="Telegram link"
             target="_blank"
             referrerpolicy="no-referrer"
             class="social-networks__link"
           >
             <svg class="social-networks__icon social-networks__icon--telegram">
               <use href="./images/sprite.svg#icon-tg"></use>
             </svg>
           </a>
         </li>
         <li class="social-networks__item">
           <a
             href="https://www.facebook.com/"
             aria-label="Facebook link"
             target="_blank"
             referrerpolicy="no-referrer"
             class="social-networks__link"
           >
             <svg class="social-networks__icon">
               <use href="./images/sprite.svg#icon-fb"></use>
             </svg>
           </a>
         </li>
       </ul>
    </li>
    <li class = "member-card">
      <img src="./images/team/team7.jpg" alt="Mariia" class="member-card__photo">
      <h2 class="member-card__name">Mariia</h2>
      <ul class="social-networks__list">
        <li class="social-networks__item">
           <a
             href="https://telegram.me/Mari_liova"
             aria-label="Telegram link"
             target="_blank"
             referrerpolicy="no-referrer"
             class="social-networks__link"
           >
             <svg class="social-networks__icon social-networks__icon--telegram">
               <use href="./images/sprite.svg#icon-tg"></use>
             </svg>
           </a>
         </li>
         <li class="social-networks__item">
           <a
             href="https://www.facebook.com/"
             aria-label="Facebook link"
             target="_blank"
             referrerpolicy="no-referrer"
             class="social-networks__link"
           >
             <svg class="social-networks__icon">
               <use href="./images/sprite.svg#icon-fb"></use>
             </svg>
           </a>
         </li>
       </ul>
    </li>
    <li class = "member-card">
      <img src="./images/team/team8.jpg" alt="Vova" class="member-card__photo">
      <h2 class="member-card__name">Vova</h2>
      <ul class="social-networks__list">
        <li class="social-networks__item">
           <a
             href="https://telegram.me/voff4eg1905"
             aria-label="Telegram link"
             target="_blank"
             referrerpolicy="no-referrer"
             class="social-networks__link"
           >
             <svg class="social-networks__icon social-networks__icon--telegram">
               <use href="./images/sprite.svg#icon-tg"></use>
             </svg>
           </a>
         </li>
         <li class="social-networks__item">
           <a
             href="https://www.facebook.com/"
             aria-label="Facebook link"
             target="_blank"
             referrerpolicy="no-referrer"
             class="social-networks__link"
           >
             <svg class="social-networks__icon">
               <use href="./images/sprite.svg#icon-fb"></use>
             </svg>
           </a>
         </li>
       </ul>
    </li>
    <li class = "member-card">
      <img src="./images/team/team10.jpg" alt="Kyrylo" class="member-card__photo">
      <h2 class="member-card__name">Kyrylo</h2>
      <ul class="social-networks__list">
        <li class="social-networks__item">
           <a
             href="https://telegram.me/shandaliukk"
             aria-label="Telegram link"
             target="_blank"
             referrerpolicy="no-referrer"
             class="social-networks__link"
           >
             <svg class="social-networks__icon social-networks__icon--telegram">
               <use href="./images/sprite.svg#icon-tg"></use>
             </svg>
           </a>
         </li>
         <li class="social-networks__item">
           <a
             href="https://www.facebook.com/"
             aria-label="Facebook link"
             target="_blank"
             referrerpolicy="no-referrer"
             class="social-networks__link"
           >
             <svg class="social-networks__icon">
               <use href="./images/sprite.svg#icon-fb"></use>
             </svg>
           </a>
         </li>
       </ul>
    </li>
    <li class = "member-card">
      <img src="./images/team/team9.jpg" alt="Sania" class="member-card__photo">
      <h2 class="member-card__name">Alex</h2>
      <ul class="social-networks__list">
        <li class="social-networks__item">
           <a
             href="https://telegram.me/figatix"
             aria-label="Telegram link"
             target="_blank"
             referrerpolicy="no-referrer"
             class="social-networks__link"
           >
             <svg class="social-networks__icon social-networks__icon--telegram">
               <use href="./images/sprite.svg#icon-tg"></use>
             </svg>
           </a>
         </li>
         <li class="social-networks__item">
           <a
             href="https://www.facebook.com/"
             aria-label="Facebook link"
             target="_blank"
             referrerpolicy="no-referrer"
             class="social-networks__link"
           >
             <svg class="social-networks__icon">
               <use href="./images/sprite.svg#icon-fb"></use>
             </svg>
           </a>
         </li>
       </ul>
    </li>
  </ul>
    <button type="submit" form="modal-form" class="button__modal-submit--team">
      This team is the best
    </button>
  </div>
</div>
