<div class="backdrop--team is-hidden--team" data-about-scream-modal>
  <div class="modal--team">
    <button
      type="button"
      class="button__modal-close--team"
      data-about-scream-modal-close
    >
      <img
        src="./images/close-sign.png"
        alt="close"
        class="button__close-icon--team"
      />
    </button>
    <h2 class="modal__title--team modal__title--scream">
      I-scream special team
    </h2>
    <div class="nutrition nutrition--scream">
      <label class="checkbox-container nutrition__info nutrition__info--scream">
        <input
          type="checkbox"
          name="Granulated-sugar"
          class="checkbox visually-hidden"
        />
        <p class="nutrition__amount nutrition__amount--scream">G</p>
      </label>
      <label class="checkbox-container nutrition__info nutrition__info--scream">
        <input
          type="checkbox"
          name="Oreos"
          class="checkbox visually-hidden"
          checked
        />
        <p class="nutrition__amount nutrition__amount--scream">O</p>
      </label>
      <label class="checkbox-container nutrition__info nutrition__info--scream">
        <input
          type="checkbox"
          name="Irish cream"
          class="checkbox visually-hidden"
          checked
        />
        <p class="nutrition__amount nutrition__amount--scream">I</p>
      </label>
      <label class="checkbox-container nutrition__info nutrition__info--scream">
        <input type="checkbox" name="Topper" class="checkbox visually-hidden" />
        <p class="nutrition__amount nutrition__amount--scream">T</p>
      </label>
    </div>
    <h3 class="modal__subtitle--team">Add-ons</h3>
    <ul class="ingredients ingredients--scream">
      <li class="ingredients__item ingredients__item--scream">
        <p class="ingredients__name">Granulated sugar</p>
        <p class="ingredients__amount">50 g</p>
      </li>
      <li class="ingredients__item ingredients__item--scream">
        <p class="ingredients__name">Oreos</p>
        <p class="ingredients__amount">100 g</p>
      </li>
      <li class="ingredients__item ingredients__item--scream">
        <p class="ingredients__name">Irish cream</p>
        <p class="ingredients__amount">100 ml</p>
      </li>
      <li class="ingredients__item ingredients__item--scream">
        <p class="ingredients__name">Topper</p>
        <p class="ingredients__amount">150g</p>
      </li>
    </ul>
    <button type="submit" form="modal-form" class="button__modal-submit--team">
      This team is the best
    </button>
  </div>
</div>
