<div class="backdrop--team is-hidden--team" data-about-scream-modal>
  <div class="modal--team">
    <button
      type="button"
      class="button__modal-close--team"
      data-about-scream-modal-close
    >
      <img
        src="./images/close-sign.png"
        alt="close"
        class="button__close-icon--team"
      />
    </button>
    <h1 class="modal__title--team modal__title--scream">
      I-scream dream team
    </h1>
    <!-- Team leads -->
    <ul class="team-list team-list--leads ">
    </ul>
   
   <!-- Rest of the team -->
   <ul class="team-list team-list--others">
  </ul>
    <button type="submit"  class="button__modal-submit--team">
      This team is the best
    </button>
     <!-- Checkbox  -->
     <div class="custom-checkbox">
      <label class="checkbox-container  ">
        <input
          type="checkbox"
          name="G"
          class="checkbox-container__checkbox visually-hidden"
        />
        <span class="checkbox-container__text">G</span>
      </label>
      <label class="checkbox-container ">
        <input
          type="checkbox"
          name="O"
          class="checkbox-container__checkbox visually-hidden"
          checked
        />
        <span class="checkbox-container__text">O</span>
      </label>
      <label class="checkbox-container ">
        <input
          type="checkbox"
          name="I"
          class="checkbox-container__checkbox visually-hidden"
          checked
        />
        <span class="checkbox-container__text">I</span>
      </label>
      <label class="checkbox-container ">
        <input type="checkbox" name="T" class="checkbox-container__checkbox visually-hidden" />
        <span class="checkbox-container__text">T</span>
      </label>
    </div>
  </div>
</div>
