:root {
  --font-primary: 'Roboto', sans-serif;
  --color-bg-primary: #ffffff;
  --color-text-light: #ffffff;
  --color-text-dark: #000000;
  --color-text-secondary: #8c8c8c;
  --color-text-footer: #545454;
  --color-card__text: #ff6b08;
  --color-error: #ff001b;
  --color-accent: #ff6b01;
  --font-mobile-scary: 'Butcherman', cursive;
  --font-mobile-creepy: 'Nosifer', cursive;
  --color-text-dark--team: #131313;
  --color-btn-default--team: #f8d24e;
  --cubic--team: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
