:root {
  --font-primary: 'Roboto', sans-serif;

  --color-bg-primary: #ffffff;
  --color-text-light: #ffffff;
  --color-text-dark: #000000;
  --color-text-secondary: #8c8c8c;
  --color-text-footer: #545454;
  --color-card__text: #ff6b08;
  --color-error: #ff001b;
  --color-accent: #ff6b01;
}
