.stop-scrol {
  overflow: hidden;
}

.backdrop {
  
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color:rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow-y: scroll;

  transition: opacity 250ms linear, visibility 250ms linear;
  
} 

.modal-window {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color:black;

  width: 280px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  overflow-y: scroll;
  @media screen and (min-width: 768px) {
    width: 704px;
    height: 552px;
    padding-left:36px;
    padding-right: 72px;

    display: flex;
    column-gap: 68px;
  }

 @media screen and (min-width: 1280px) {
    width: 806px;
    height: 558px;
    
    padding-left: 12px;
    padding-right: 12px;
    column-gap: 16px;
  }
  
}

.btn-modal {
  position:absolute;
  top:8px;
  right:8px;
  display: flex;
  justify-content: center;
  align-items: center;

  width:30px;
  height: 30px;
  padding: 0;
  background-color: white;
}


.btn-modal:hover .modal-close-icon,
.btn-modal:focus .modal-close-icon {
  width: 16px;
  height: 16px; 
}


.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none; 
}

.cinema-img {
  overflow:hidden;
  
  border-radius: 5px;

  height: 357px;
  width: 240px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 374px;
    margin: 0;
  }

  @media screen and (min-width: 1280px) {
    height: 478px;
    width: 375px;        
  }  
}

.cinema-info{

  @media screen and (min-width: 768px) {
    width: 264px;
  }

  @media screen and (min-width: 1280px) {
    width: 391px; 
  } 
}

.cinema-info_item {
  font-size: 20px;
  line-height: 1.17;
  margin-bottom: 20px;

  @media screen and (min-width: 1280px) {
   
    font-size: 30px; 
  } 
}

.cinema-info__list{

  display: flex;
  column-gap: 8px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 260px;
  }

  @media screen and (min-width: 1280px) {
    width: 391px;
  } 
}

.cinema-attribute {
  
  width: 108px;
  @media screen and (min-width: 1280px) {
    width: 152px;
  } 
  
}

.cinema-atrtribute_item{
  color:#8C8C8C;
  font-size: 12px;
  line-height: 1.33;
  
  &:not(:last-child) {
    margin-bottom: 8px;
  }  
}


.cinema-attrebute_value__item {
  display: flex;
  font-size: 12px;
  line-height: 1.33;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.vote {
  display: block;
  text-align: center;
  border-radius: 5px;
  width: 36px;
  height: 16px;
  background-color: var(--color-accent);
  color: white;
  margin-right: 4px;
}

.vote-count {
  display: block;
  text-align: center;
  border-radius: 5px;
  width: 36px;
  height: 16px;
  background-color: #F7F7F7;  
  margin-left: 4px;
}

.cinema-about {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 264px;
  }
  
  @media screen and (min-width: 1280px) {
    width: 391px;
  }
}

.cinema-about_item {
  
  font-size: 12px;
  line-height: 1.33;
}

.cinema-about_description {
  
  font-size: 12px;
  line-height: 1.67;
}

.button-modal-cinema {
  display: flex;
  column-gap: 20px;
}

.btn-modal-cinema_item {

  border: 1px solid black;
  border-radius: 5px;

  text-align: center;
  background-color: white;
  
  font-size: 12px;
  line-height: 1.33;
  
  width: 110px;
  height: 44px;
  
  @media screen and (min-width: 768px) {
    width: 125px; 
  }

  @media screen and (min-width: 1280px) {
    width: 136px;
    margin-left: 8px;
  } 
}

.btn-modal-cinema_item:hover,
.btn-modal-cinema_item:focus {
    background-color: var(--color-accent);
    color:white
}