:root {
  --desk: 1200px; // desktop
  --tab: 768px; // tablet
  --mob: 480px; // mobile

  --font-mobile-scary: 'Butcherman', cursive;
  --font-mobile-creepy: 'Nosifer', cursive;
  --color-text-dark--team: #131313;
  --color-btn-default--team: #f8d24e;
  --cubic--team: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.heart-icon {
  width: 20px;
  height: 20px;
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
}
.heart-icon:hover {
  transform: scale(2) rotate(360deg);
}

.backdrop--team {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  transition: opacity 300ms ease-in-out, visibility var(--cubic--team),
    transform 300ms linear;
  overflow-y: scroll;
  padding: 20px 1px;
  z-index: 5;
  &.is-hidden--team {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: scale(0.9);
  }
}

body.modal-open--team {
  overflow: hidden;
}

.button__modal-close--team {
  position: absolute;
  top: 28px;
  right: 20px;

  border: none;
  padding: 5px;

  border-radius: 50%;
  background-color: white;

  @media screen and (min-width: 768px) {
    top: 20px;
    right: 20px;
    padding: 15px;
    right: 30px;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 20px 5px white;
  }
}
.button__close-icon--team {
  width: 30px;
  height: 30px;

  @media screen and (min-width: 768px) {
    width: 45px;
    height: 45px;
  }
}

.modal--team {
  font-family: var(--font-mobile-scary);
  background-color: black;
  border: 2px groove var(--color-btn-default--team);
  border-radius: 20%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: red;
  border-top: none;
  border-bottom: none;
  text-align: center;

  &::-webkit-scrollbar {
    display: none;
  }
  @media screen and (max-width: 767px) {
    max-width: 280px;
    padding: 28px 20px 32px;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    padding: 32px 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    max-height: 100%;
    overflow-y: scroll;
  }
}

.modal__title--team {
  font-family: var(--font-mobile-creepy);

  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 20px;

  
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}

.modal__subtitle--team {
  font-family: var(--font-mobile-creepy);
  font-size: 20px;
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: 12px;
}

.button__modal-submit--team {
  font-family: var(--font-mobile-creepy);
  cursor: pointer;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  border-radius: 10px;
  padding: 12px 15px;
  color: var(--color-text-dark--team);
  background-color: var(--color-btn-default--team);
  transition: color var(--cubic), background-color var(--cubic--team);
 
  @media screen and (min-width: 768px) {
    padding: 12px 34px;
  }
  &:hover,
  &:focus {
    color: var(--color-btn-default--team);
    background-color: var(--color-text-dark--team);
    border: 1px solid var(--color-btn-default--team);
    box-shadow: 0 0px 20px var(--color-btn-default--team);
  }
}

.custom-checkbox {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  justify-content: center;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    gap: 20px;
    margin-bottom: 24px;
  }
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--color-btn-default--team);
  border-radius: 40%;
  text-overflow: ellipsis;
  width: 52px;
  height: 72px;

  @media screen and (min-width: 768px) {
    width: 65px;
    height: 90px;
  }
}


.checkbox-container__checkbox:checked + .checkbox-container__text {
  transform: translateY(-4px);
  box-shadow: 0 6px 20px var(--color-btn-default--team);
}

.checkbox-container__text {
  font-size: 30px;
  font-weight: 500;
  line-height: 2.8;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(29px);

  width: 43px;
  height: 43px;
  border: 3px solid var(--color-btn-default--team);

  border-radius: 50%;
  background-color: transparent;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    width: 53px;
    height: 53px;
    margin-bottom: 7px;
    font-size: 40px;
    transform: translateY(37px);
  }
}

// Team cards

.team-list {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  column-gap: 30px;
  row-gap: 15px;
  margin-bottom: 20px;
 
}
.member-card {
  display: flex;
  flex-direction: column;
}
.member-card__role {
  font-size: 20px;
  text-align: center;
  color: yellow;
  text-shadow: 2px 2px 10px #f8d24e;
}
.member-card__photo {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  &:hover,
  &:focus {
    box-shadow: 0 10px 20px 6px white;
  }
  margin-bottom: 10px;

}
.member-card__name {
  font-family: var(--font-mobile-creepy);
  font-size: 10px;
  line-height: 1.2;
  font-weight: 400;

  @media screen and (min-width: 768px) {
    font-size: 15px;
  }
  margin-bottom: 6px;

}





// Socials

.social-networks__list {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  gap: 30px;
}

.social-networks__item {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--color-btn-default--team);
}

.social-networks__icon {
  fill: black;
  width: 20px;
  height: 20px;
  transition: fill 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  &--telegram {
    transform: translateX(-1px);

  }
}

.social-networks__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover .social-networks__icon,
  &:focus .social-networks__icon {
    fill: white;
    cursor: pointer;
  }
}