.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;

  @media screen and (min-width: 768px) {
    row-gap: 32px;
    column-gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    column-gap: 16px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 280px;

  overflow: hidden;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 32px) / 2);
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 32px) / 3);
    width: 394px;
  }
}

.card__img {
  height: 398px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: transform 250ms linear;

  @media screen and (min-width: 768px) {
    height: 455px;
    margin-bottom: 8px;
  }

  @media screen and (min-width: 1280px) {
    height: 574px;
    margin-bottom: 12px;
  }
}

.card__title {
  font-family: var(--font-primary);

  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  color: var(--color-text-dark);

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.card__text {
  font-family: var(--font-primary);

  font-size: 12px;
  line-height: 1.33;

  color: var(--color-card__text);

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.card__text_rating {
  display: inline-block;
  width: 36px;
  height: 16px;

  font-size: 12px;
  line-height: 1.167;
  text-align: center;
  background-color: var(--color-accent);
  color: var(--color-text-light);
  border-radius: 5px;
  margin-left: 8px;

  @media screen and (min-width: 1280px) {
    width: 40px;
    height: 20px;
    vertical-align: text-bottom;
  }
}
