.header {
  position: relative;
  padding-top: 39px;
  padding-bottom: 92px;
  background-image: url('../images/home-header-mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/home-header-mobile@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/home-header-tablet.jpg);
    padding-bottom: 80px;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/home-header-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/home-header-desktop.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/home-header-desktop@2x.jpg);
    }
  }

  &--library {
    padding-bottom: 62px;
    background-image: url('../images/library-header-mobile.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/library-header-mobile@2x.jpg);
    }

    @media screen and (min-width: 768px) {
      padding-top: 37px;
      padding-bottom: 60px;
      background-image: url(../images/library-header-tablet.jpg);

      @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/library-header-tablet@2x.jpg);
      }
    }

    @media screen and (min-width: 1280px) {
      background-image: url(../images/library-header-desktop.jpg);

      @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/library-header-desktop@2x.jpg);
      }
    }
  }
}

.header.rejected {
  padding-bottom: 43px;
}

.header__navigation {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  justify-content: center;
  column-gap: 15px;

  @media screen and (min-width: 768px) {
    column-gap: 40px;
  }

  &--buttons {
    column-gap: 20px;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 49px;
  column-gap: 15px;

  &--library {
    margin-bottom: 57px;

    @media screen and (min-width: 768px) {
      margin-bottom: 40px;
      column-gap: 40px;
    }
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    column-gap: 40px;
  }
}

.header__form {
  display: flex;
  border-bottom: 0.5px solid var(--color-text-light);
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 336px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1280px) {
    width: 394px;
  }

  &:focus-within {
    border-bottom: 0.5px solid var(--color-accent);
  }
}

.header__input {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--color-text-light);
  outline: none;

  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    color: #ffffff4f;
  }
}

.header__submit-button {
  background-color: transparent;
  border: none;
  color: var(--color-text-light);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;

  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

.header__text {
  display: none;
}

.header__text.rejected {
  display: block;
  margin-top: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  color: var(--color-error);

  @media screen and (min-width: 768px) {
    margin-top: 20px;
    text-align: center;
  }
}

.header__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-text-light);
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--current::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--color-error);
  }

  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

.header__icon {
  width: 12px;
  height: 12px;
}

.header__button {
  padding: 14px 36px 12px 37px;
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-text-light);
  background-color: transparent;
  border: 1px solid var(--color-text-light);
  border-radius: 5px;
  outline: none;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #ff6b02;
    border: 1px solid transparent;
  }

  @media screen and (min-width: 768px) {
    padding: 13px 48px;
  }

  @media screen and (min-width: 768px) {
    padding: 13px 45px;
  }

  &--login {
    padding: 5px;

    @media screen and (min-width: 768px) {
      padding: 5px 10px 5px 10px;
    }
  }

  &--queue {
    padding: 14px 45px 12px 45px;

    @media screen and (min-width: 768px) {
      padding: 13px 57px;
    }

    @media screen and (min-width: 768px) {
      padding: 13px 54px;
    }
  }
}

.header__item.logging--is-hiden {
  display: none;
}
